<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>User Profile</h1>
		<hr>
		<h2>My Orders</h2>
		{{# each orders }}
			<ul class="list-group">
				{{# each this.items }}
					<li class="list-group-item"><span class="badge">${{ this.price }}</span>{{ this.item.title }} | {{ this.qty }} Units</li>
				{{/each}}
			  <li class="list-group-item list-group-item-dark">Total Price: $ {{ this.cart.totalPrice }}</li>
			</ul>
		{{/each}}
	</div>
</div>